table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(168, 168, 168);
  }

th, td {
padding: 8px;
text-align: center;
border: 1px solid black;
}

th {
background-color: #4CAF50;
color: rgb(168, 168, 168);
}

img {
max-width: 100%;
height: auto;
}

.bold {
font-weight: bold;
}

.italic {
font-style: italic;
}